@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.HomePage {
  h1 {
    font-size: 3rem;
  }
  color:black;
  background-color:white;
}



html{
  height: 100%;
}
textarea{
  background-color: rgb(37, 37, 37);
  color:rgb(5, 226, 5);

}
.Nav{
  background-image:navy;
  color: white; 
  width:100%;
  padding-top: 5vmin;
  padding-bottom: 3vmin;
  font-size: 3vw;
  overflow:hidden;
  top: 0;
  position:fixed;
  z-index: 1000;
}
.categories:hover, .Home:hover{
  text-decoration:none;
  color:rgb(221, 22, 22);
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
}
.categories{
  color: white;
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.admin, .SubmissionForm, .ContributorForm, .header, .title {
  background-color: rgb(37, 37, 37);
}

.title{
  color: rgb(5, 226, 5);
  font-size: 20vmin;
  font-family: "UnifrakturMaguntia";
  padding-top: 20vmin; 
  margin-top:0vmin;
  font-size: 5vw;
}
.title:hover{
  text-decoration:solid;
  color: rgb(5, 226, 5);
}

.Home{
  font-family: 'UnifrakturMaguntia';
  color:white;
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.SubmissionForm, .ContributorForm{
  padding: 5vmin;
  color:rgb(5, 226, 5);
}
.ContributorForm{
  padding-bottom:10vmin;
}

.CategoryPage, .ContributorPage, .FeaturedArticle, .ArticlePage, .PressPage {
  margin: 10rem;
}

.ContributorPage{
  padding-bottom:5rem;
  .articles{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    .articleThumbnail{
      justify-content: center;
      // background-color: rgb(215, 213, 213);
      // border-radius:.5%;
      // border-style:solid;
      // border-width:.3rem;
      // border-color:navy;
      padding:1rem; 
      margin:1rem;
      .articleImage{
        max-width:10rem;
        max-height:7rem;
      }
      .articleTitle{
        color: black; 
        font-family: "Bitter";
        font-weight:bold;     
        padding-bottom: 1rem;
      }
      .articleText{
        font-size:1rem;
        font-family: "Times+New+Roman";
        max-width:14rem;
      }
      .articleCategory{
        color: black; 
        font-family: "Bitter";
        font-weight:bold;     
        padding-bottom: 1rem;
      }
    }
  }
}

.closed {
  opacity: 0;
  display:none;
}

.contributors{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contributor{
  font-size: 2vw;
  color:black;
  padding: 3vmin;

}
.contributor:hover{
  font-size: 2.05vw;
  text-decoration:none;
  font-family: 'UnifrakturMaguntia'
}

.contributorslist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 10rem;
}

p{
  text-align: center;
}
// .AdministratorPage{
  // background-color: rgb(37, 37, 37);
//   color: rgb(6, 200, 6);
//   min-height:100%;
// }

.ArticlePage{
  padding-bottom: 5vmax;
  .rows{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    padding-bottom:10vmax;
    .articleDisplay{
      flex-grow:3;
      margin-left: -7vmax;
      margin-right:10vmax;
      text-align: left;
      padding-right:15vmax;
      border-right-width:.3vmax;
      border-color: black;
      border-style: solid;
      .articleImage{
        max-width:50vmax;
        max-height:35vmax;
        padding-bottom:1vmax;
      }
      .articleTitle{
        font-family: "Bitter";
        color: black;
        text-align:left;
        font-size:2.75vmax;
        padding-bottom:1vmax;
      }
      .articleText{
        font-size:1.5vmax;
        font-family: "Times+New+Roman";
        padding-bottom:1vmax;
        text-align: justify;
      }
      .articleContributor{
        font-family: "Bitter";
        font-size:2vmax;
        padding-bottom:1vmax;
      }
      .articleCategory{
        font-family: "Bitter";
        font-size:2vmax;
        padding-bottom:1vmax;
      }
    }
    .aside{
      flex-shrink:1; 
      display: flex;
      flex-direction:column;
      margin-left: -8vmax;
      .banner{
        font-size:4rem;
        font-family: "Times+New+Roman";
        padding-bottom:1vmax;
        margin-bottom:1rem;
      }
      .articleThumbnail:hover{
        transform: scale(1.2);
        transition: transform 1s ease;
      }
      .articleThumbnail{
        transform: scale(1);
        transition: transform 1s ease;
        justify-content: center;
        img{
          max-width:10rem;
          max-height:7rem;
        }
        .articleTitle{
          font-family: "Bitter";
          font-size:2rem
        }
        .articleText{
          font-size:1rem;
          font-family: "Times+New+Roman";
        }
        .articleContributor{
          font-family: "Bitter";
          font-size:1.5rem
        }
      }
    }
  }
  .articlesBy, .articlesBy2{
    display:flex;
    flex-direction:row;
    margin-left: -7rem;
    border-style:solid;
    border-top-width:.3vmax;
    border-color:black;
    h1{
      color:black;
    }
    .articleThumbnail:hover{
      transform: scale(1.2);
      transition: transform 1s ease;
    }
    .articleThumbnail{
      justify-content: center;
      padding:1vmax; 
      margin:1vmax;
      transform: scale(1);
      transition: transform 1s ease;
      .articleImage{
        max-width:10vmax;
        max-height:7vmax;
      }
      .articleTitle{
        font-weight:bold;  
        font-family:"Bitter";
        font-size:2vmax;   
      }
      .articleContributor{
        font-size:1.5vmax;
        font-family: "Bitter";
      }
      .articleText{
        font-size:1vmax;
        font-family: "Times+New+Roman";
      }
    }
  }
}

.category{
  margin-top:3vmax;
  display:flex;
  flex-direction:row;
  flex-wrap:none;
  position:relative;
  .categoryHeader{
    // transform: rotate(-90deg);
    margin-bottom:7vmax;
    margin-left: 6vmax;
    padding-left:5vmax;
    // margin-right:2rem;
    // padding-right:2rem;
    // margin-left:1rem;
    position: absolute;
    font-family:"Oswald";
    // font-size:5vmax;
    font-size:12vmax;
    letter-spacing:7vmax;
    z-index: 998;
    opacity: 25%;
    color:black;
    // transform: color(black);
    // transition: transform 1s ease;
  }
  // .categoryHeader:hover{
  //   transform: color(maroon);
  //   transition: transform 1s ease;
  // }
  .articleThumbnail:hover{
    transform: scale(1.2);
    transition: transform 1s ease;
  }
  .articleThumbnail{
    justify-content:center;
    padding:1vmax; 
    margin:1vmax;
    max-width:15vmax;
    height:20vmax;
    z-index: 999;
    transform:scale(1);
    transition: transform 1s ease;
    .articleImage{
      max-width:10vmax;
      max-height:7vmax;
    }
    // .articleImage:hover{
    //   zoom:130%;
    // }
    .articleTitle{
      font-weight:bold;  
      font-family: "Bitter";
      font-size:2vmax;   
    }
    .articleContributor{
      font-size:1.5vmax;
      font-family: "Bitter";
    }
    .articleText{
      font-size:1vmax;
      font-family: "Times+New+Roman";
    }
  }
}

.AppPage {
  h1 {
    font-size: 3rem;
  }

}
.CategoryPage{
  .list{
    margin:2rem;
    display:flex;
    flex-wrap:wrap;
    .listItem:hover{
      transform: scale(1.2);
      transition: transform 1s ease;
    }
    .listItem{
      justify-content:space-around;
      
      padding:1rem; 
      margin:3vmax;
      font-size:1.25vmax;
      transform: scale(1);
      transition: transform 1s ease;
      img{
        max-width:10vmax;
        max-height:7vmax;
      }
      .articleTitle{
        font-weight:bold;   
        font-family: "Bitter"; 
        font-size:2.75vmax;
      }
      .articleContributor{
        font-family: "Bitter";
        font-size:2vmax;
      }
      width: 12vmax;
    }
  }
}

.sectionHeader{
  font-size:4rem;
  color: black;
  padding-bottom: 5rem;
}
.white{
  background-color:white;
  transition: background-color 1s ease;
}
.blue{
  // padding-top:1vmax;
  // padding-bottom:2vmax;
  background-color:rgb(178, 195, 255);
  transition: background-color 1s ease;
}

.hotOffThePress{
  margin-top: 2vmax;
  margin-bottom: 5vmax;
  padding-top: 5vmax;
  padding-bottom:5vmax;
  transition: background-color 0.5s ease;
  justify-content:center;
  border-top-color:black;
  border-top-width:1rem;
  border-bottom-width:1rem;
  border-bottom-color:black;
  p{
    font-size:2rem;
  }
  .press{
    justify-content: center;
    margin:1rem;
    min-height:100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .pdf{
    margin: auto;
  }
  button{
    font-size: 4rem;
    color: navy;
  }
}

.archives{
  display: flex;
  flex-direction: column;
  padding-bottom:1rem;
  padding-top:1rem;
  
  .archive{
    button{
      font-size: 3vmax;
      padding-bottom:1vmax;
      a{
        font-style:italic;
        color:navy;
      }
      a:hover{
        color:maroon;
      }
    }
  }

}

.continueReading{
  border-color: transparent;
  background-color: transparent;
  color: navy;
}
.continueReading:hover{
  .continueReadingLink{
    color:rgb(221, 22, 22);
    text-decoration:none;
  }
}
.articleText{
  font-size: 3vmin;
  font-family: "Times+New+Roman";
}
.FeaturedArticle{
  margin-bottom:25vmax;
  .heading{
    // padding:3rem;
    background-color:transparent; 
    text-align: left;
    color: black;
  }
  .FeaturedArticleDisplay{
    position:relative;
    padding-bottom:5rem;
    .background{
      position: absolute;
      margin-left:-11vmax;
      margin-top: -4.1vmax;
      img{
        // max-height: 100vmax;
        min-width: 100vw;
        max-width:100vw;
      }
    }
    .display{
      position: relative;
      margin: auto;
      margin-top: 3vmin;
      max-height:85vmax;
      max-width: 75vmax;
      background-color: white;
      border-style: solid;
      border-width: 2px;
      border-color: #000080;
      text-align: center;
      opacity: 75%;
      align-items: center;
      .articleTitle{
        font-size:4vmax;
        color: black; 
        font-family: "Bitter";
        font-weight:bold;     
        padding-bottom: 2vmax; 
      }
      .articleContributor{
        font-size: 3vmax;
        font-family: "Bitter";
        padding:2vmax;
      }
      .articleCategory{
        font-size:3vmax;
        font-family: "Bitter";
        padding-bottom:2vmax;
      }
      .articleText, button{
        font-size: 2vmax;
        font-family: "Times+New+Roman";
        // padding-bottom:.5rem;
        padding: 2.5vmax;
      }
    }
  }
}

.sectionHeader{
  margin-top:10vmax;
  color: black;
  font-size: 5vmax;
}
.archives{
  .archive{
    display: flex;
    flex-direction:column;
    .pdf{
      justify-content: center;  
    }
  }
}

.catArtList{
  margin-top:30vmax;
}