@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.HomePage {
  h1 {
    font-size: 3rem;
  }
  color:black;
  background-color:white;
}

h1 {
  background-color: white;
}

html{
  height: 100%;
}

.Nav{
  background-color:navy;
  color: white; 
  padding-top: 5vmin;
  padding-bottom: 3vmin;
  font-size: 3vw;
}
.categories:hover{
  text-decoration:none;
  color:rgb(221, 22, 22);
}
.Home:hover{
  text-decoration:none;
  color:rgb(221, 22, 22);
}

.admin, .SubmissionForm, .ContributorForm, .header, .title {
  background-color: rgb(37, 37, 37);
}

.title{
  color: rgb(5, 226, 5);
  font-size: 20vmin;
  font-family: "UnifrakturMaguntia";
  padding-top: 20vmin; 
  margin-top:0vmin;
  font-size: 5vw;
}

.Home{
  font-family: 'UnifrakturMaguntia';
  color:white;
}

.SubmissionForm, .ContributorForm{
  padding: 5vmin;
}
.ContributorForm{
  padding-bottom:10vmin;
}

.closed {
  opacity: 0;
  display:none;
}

.contributors{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contributor{
  font-size: 2vw;
  color:black;
}
.contributor:hover{
  font-size: 2.25vw;
  text-decoration:none;
  font-family: 'UnifrakturMaguntia'
}

// .AdministratorPage{
//   background-color: rgb(37, 37, 37);
//   color: rgb(6, 200, 6);
//   min-height:100%;
// }

.AppPage {
  h1 {
    font-size: 3rem;
  }

}
